@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins','sans-serif';
    line-height: 1.3;
}
.wrapper{
    background: #070724;
}
.container{
    padding:0 90px;
}
header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 70px;

}
ul{
    list-style-type: none;

}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    margin:0 10px;
    text-align: center;
    font-size: 17px;
    text-transform: uppercase;

}
.login{
    background: #f00afa;
    padding:5px 14px;
    border-radius: 3px;
}
section{
    height: 73vh;
    color: #fff;
}
section .container{
    display: flex;
}
section .left{
    margin-top:50px;

}
.left h1{
    font-size: 60px;
    margin-bottom: 15px;
}
.left p{
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: lighter;
    letter-spacing: 1px;
    font-size: 17px;
}
.left a{
    text-decoration: none;
    color:#fff;
}
.left a span{
    background: #f00afa;
    padding:0 3px;
    font-size: 18px;;
}
.right{
    width: 750px;
    height: 450px;
   
}
.right img{
    height: 100%;
    margin-top: -30px;
    width: 100%;
    object-fit: cover;
}
/*icon*/
.icon{
    width: 260px;
    margin: 0 auto;
    margin-top: -50px;

}
.icon img{
    width: 100%;
}
